.money-card-child {
  height: 74px;
  width: 730px;
  position: relative;
  box-shadow: 0 20px 100px rgba(85, 85, 85, 0.05);
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.card-icons {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card-labels-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  z-index: 2;
}
.card-content {
  height: 44px;
  width: 44px;
  position: relative;
}
.money-received {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.card-row,
.money-labels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.money-labels {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.card-row {
  flex-direction: row;
  gap: var(--gap-xl);
}
.empty-data-placeholder {
  position: relative;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.empty-card-data,
.money-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-indigo-200);
}
.money-card {
  align-self: stretch;
  box-shadow: 0 20px 100px rgba(85, 85, 85, 0.05);
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mini)
    var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 450px) {
  .money-card {
    flex-wrap: wrap;
  }
}
