@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-manrope: Manrope;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-lgi: 19px;
  --font-size-smi: 13px;
  --font-size-3xl-9: 22.9px;

  /* Colors */
  --color-gray-100: #787878;
  --color-gainsboro: #e0e0e0;
  --color-indigo-100: #5c26b4;
  --color-indigo-200: #5b25b4;
  --color-indigo-300: #45198d;
  --color-indigo-400: rgba(91, 37, 180, 0.1);
  --color-darkslategray: #32383f;
  --color-whitesmoke: #f4f4f4;
  --color-white: #fff;
  --color-silver-100: #c6c6c6;
  --color-silver-200: #c4c4c4;
  --color-mediumslateblue: rgba(130, 77, 219, 0.1);
  --color-lightslategray-100: #8597a8;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-3xs: 10px;
  --gap-31xl: 50px;
  --gap-xs: 12px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-26xl: 45px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-26xl: 45px;
  --padding-128xl: 147px;
  --padding-xl: 20px;
  --padding-43xl: 62px;
  --padding-10xl: 29px;
  --padding-77xl: 96px;
  --padding-8xs: 5px;
  --padding-24xl: 43px;
  --padding-25xl: 44px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-mini: 15px;
  --padding-16xl: 35px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-4xs: 9px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;
  --padding-125xl: 144px;
  --padding-75xl: 94px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-21xl: 40px;
  --br-31xl: 50px;
  --br-41xl: 60px;
  --br-20xl: 39px;
}
